* bool, 비교연산, 논리연산

In [ ]:
3>1

In [ ]:
10!=5

In [ ]:
'python'=='python'

In [ ]:
1==1.0

In [ ]:
1 is 1.0

In [ ]:
a=260

In [ ]:
b=260

In [ ]:
a==b

In [ ]:
a is b

> 객체의 값은 같지만, 객체의 메모리상 위치가 다르기 때문에 위와 같이 나타남, 
> -5~256 까지는 메모리상 이미 위치가 지정되어 있음. 그 초과하는 숫자부터 지정할경우 위와 같이 나옴

== != 는 값 자체를 비교, is, is not 은 객체를 비교

In [ ]:
id (a)

In [ ]:
id (b)

주소가 같으면 같다고 나옴

In [ ]:
10==10 and 10!=5

In [ ]:
True and 'Python'

In [ ]:
2*3 is 3+3

In [ ]:
k = 92
e = 47
m = 86
s = 81
print(k >=50 and e >= 50 and m >= 50 and s >= 50)

* and 는 객체중 하나만 False 이면 모두 False

* 문자열

In [ ]:
hello = '안녕하세요'

In [ ]:
hello

변수에는 한글 사용 불가, 하지만 값에는 한글 사용 가능

In [ ]:
print('hello')

In [ ]:
s1 = 'hello'
s2 = "hello"
s3 = '''hello'''
s4 = """hello"""

In [ ]:
print(s1, s2, s3, s4, sep='\n')

* 따옴표의 사용 용도가 다 다름

In [ ]:
# hello 'python'
s1="hello 'python'"
print(s1)

In [ ]:
# hello "python"
s2= 'hello "python"'
print(s2)

강조에 사용하는것과 전체 쓰우는 따옴표의 종류를 다르게 해야함

같은 따옴표 세개를 사용할 때는 안에 같은게 와도 상관 없음

같은 따옴표를 연속으로 쓸 때는 강조 단어 부분의 따옴표 뒤에 스페이스 줘야 출력됨

따옴표 세개를 넣으면 문자열 줄바꿈 까지 가능함

In [ ]:
""""hello" Python"""

In [ ]:
s="""hello "python" """
print(s)

In [ ]:
s="""'Python' is a "Programming language"
that lets you work quickly
and
intergrate systems mor effectively"""
print (s)

In [ ]:
a=[38, 21,53,62,19]

In [ ]:
a

* 문자, boolean 등 어떤 값이든 넣을 수 있음

In [ ]:
a=[]

In [ ]:
a

In [ ]:
b=list()

In [ ]:
b

빈 리스트 지정됨, 여기에 새 값을 추가하는 방식으로 사용 가능

* range (숫자) 하면 숫자만큼 0~9까지 숫자가 생성됨

In [ ]:
range(10)

In [ ]:
a=list(range(10))

In [ ]:
a

연속된 숫자를 생성하는 함수

In [ ]:
range(9)

In [ ]:
b=list(range(9))

In [ ]:
b

In [ ]:
b=list(range(5,12))

In [ ]:
b

In [ ]:
c=list(range(-4,10, 2))

In [ ]:
c

range 안에 지정순서 1번=시작, 2번=객체 끝, 3번=띄우기 단위

In [ ]:
range(10)

In [ ]:
type(range(10))

In [ ]:
list(range(10))

In [ ]:
range(5, 12)

In [ ]:
list(range(5,12))

In [ ]:
list(range(5,12,2))

In [ ]:
list(range(12, 5, -1))

In [ ]:
list(range(12, 5, -2))

* Tuple = List와 여러개를 할당하는건 비슷하지만 변경 추가 삭제 할 수 없음

In [ ]:
a=24, 34,27,96

In [ ]:
a

변경되지 않고 보존해야 하는 자료의 경우에 사용, 변경되면 에러 발생

In [ ]:
a=(24,34,27,96)

In [ ]:
a

(38)은 단일값 생성 (38,)해야 튜플

In [ ]:
(38)

In [ ]:
(38,)

In [ ]:
t=(1,2,3)

In [ ]:
type(t)

In [ ]:
t=(1, 'python', 1.5, True)

In [ ]:
t1=(1,)

In [ ]:
type(t1)

In [ ]:
t2=(1)
t2

In [ ]:
type(t2)

콤마를 넣지 않아서 단일값(Int, 정수)가 됨

In [ ]:
range(10)

In [ ]:
list(range(10))

In [ ]:
tuple(range(10))

튜플로 보면 괄호로 묶여있는걸로 보임, 대괄호 아님, 즉, 변경 불가 값이 됨

In [ ]:
c=tuple(range(-4,10,2))

In [ ]:
c

튜플을 리스트로 감싸면 리스트가 됨

In [ ]:
list(c)

In [ ]:
a=1, 2, 3
list(a)

In [ ]:
type(a)

In [ ]:
step = int(input())
t = tuple(range(-10, 10, step))
print(t)

* 시퀀스 자료형 활용

값이 연속적으로 이어진 자료형을 시퀀스 자료형이라고 부름 (sequence types)

In [ ]:
a=[10,20,30,40,50,60,70,80,90]

In [ ]:
100 in a

In [ ]:
30 in a

* 값이 리스트에 존재하는지 확인 가능

In [ ]:
30 not in a

In [ ]:
100 not in a

list tuple range 문자열 모두 적용 가능, bytes, bytesaray 도 가능

In [ ]:
43 in (38, 43, 29, 94)

In [ ]:
1 in range(10)

In [ ]:
'p' in 'hello python'

In [ ]:
a=[1,2,3]
b=[4,5,6]
a+b

range 는 + 연산자로 객체 연결 불가능

In [ ]:
range(0,10) + range(10, 20)

In [ ]:
list(range(0,10))+list(range(10, 20))

In [ ]:
[0,10,20,30]*3

> 정수를 곱하면 객체 수가 늘어남

> range는 곱하기 연산자도 사용 불가능

> range를 list 또는 tuple로 바꿔야 연산자 사용 가능

In [ ]:
'hello '*3

In [ ]:
a=[1,2,3,4,5]
len(a)

개수 구해짐

In [ ]:
len(range(0, 10, 2))

>len 연산은 range에 적용 가능

In [ ]:
hello = 'hello, world!'
len(hello)

In [ ]:
hello='안녕하세요'
len(hello)

* 인덱스 사용

In [ ]:
a=[38,21,55,27,43]
a[0]

In [ ]:
a[4]

In [ ]:
a[-3]

In [ ]:
a[5]

> 0이 첫번째 객체를 뜻함, 인덱스는 항상 0 부터 시작함, 갯수가 다섯개면 마지막 색인(인덱스)는 4임

> -1 을 이용하면 마지막에서 첫번째 인덱스임

* 시퀀스 자료형 복합문제

In [ ]:
a=[0,1,2,3,4,5,6,7,8,9]

In [ ]:
len(a)

In [ ]:
a[0]

In [ ]:
a[9]

In [ ]:
a[0:len(a)]

슬라이싱은 마지막 숫자를 포함하지 않기 때문에 가능함.

In [ ]:
a[:]

In [ ]:
a[::]

In [ ]:
a[:len(a):]

다 같은 말임, 슬라이스는 값을 변경하는게 아니라 값을 가져와 확인하는 것이므로 튜플도 사용 가능

In [ ]:
a[2:5]=['a','b','c']
a

In [ ]:
a[2:5]=['a']
a

> 객체수가 부족하면 나머지는 삭제되고 하나만 대체됨

In [ ]:
a[2:5]=['a','b','c','d','e']
a

> 객체수가 더 많으면 추가됨

In [ ]:
a=[1,2,3,4,5,6,7,8,9]
a[2:8:2]=['a','b','c']
a

> 단, 슬라이스 시 증가폭 지정할 경우 요소 개구와 할당 요소 개수가 동일해야 함.

> 튜플, range, 문자열은 범위 지정해도 요소 할당 안 됨.

* del 로 슬라이스 삭제하기

In [ ]:
a=[10,20,30,40,50,60,70,80,90]
del a[2:5]
a

> 원래 있던 리스트가 변경되며 새 리스트는 생성되지 않음

In [ ]:
len (a)

In [ ]:
a=[1,2,3]
b=[1,2,3]
a+b

>  (+) 연산자로 두 시퀀스 객체를 연결하면 첫번째 객체 안에 두 번째 객체가 들어가는게 아니라 새로운 객체가 형성됨

* 최근 3년간 인구 수 출력하기

In [ ]:
y=[2011,2012,2013,2014,2015,2016,2017,2018]
p=[10249679,10195318,10143645,10103233,10022181,9930616,9857426,9838892]
y[-3:]
p[-3:]

In [ ]:
y=[2011,2012,2013,2014,2015,2016,2017,2018]
p=[10249679,10195318,10143645,10103233,10022181,9930616,9857426,9838892]
y[-3::]
p[-3::]

In [ ]:
y[-3::]
p[-3::]

In [ ]:
y[len(y)-3:]
p[len(p)-3:]

* 튜플에서 홀수번째 숫자만 출력하기

In [ ]:
n=-32,75,97,-10,9,32,4,-15,0,76,14,2
print(n[1::2])

* list의 마지막 5개 요소 삭제하기

입력 : 1,2,3,4,5,6,7,8,9,10
결과 : '1', '2', '3', '4', '5'

입력 : 무작위 단어 10개
결과 : 앞 단어 5개

In [ ]:
x=input().split()
del x[-5:]
tuple (x)
print (x)

> print와 tuple 합쳐도 됨 : print(tuple(x))

* 주민번호를 대쉬 앞 뒤로 나누고, 남자인지 여자인지 구별하기

In [ ]:
pin = "881120-1068234"
pin

In [ ]:
a,b=pin.split("-")

if b[0] == "1":print("남자")
else : print("여자")

* 전화번호 앞자리 가리기

In [ ]:
pn=input()
pn="*"*(len(pn)-4)+pn[-4:]
pn

In [ ]:
pn=input()
pn="*"*(len(pn)-4)+pn[-4:]
pn

해설

In [ ]:
 # PN=input()
PN = "01012345678"
 # result = "*******5678"
 # result1=PN[0:len(PN)-4]
result1=(len(PN)-4)*'#'
result2=PN[-4:]
result1+result2

* 딕셔너리 사용하기

> 딕셔너리는 객체의 연속이 아님, 연관된 값을 묶어서 저장하는 용도임

In [ ]:
lux = {'health' : 490, 'mana' : 334, 'melee' : 550, 'armor' : 18.72}
lux

# health = key, 490 = 값, 키-값은 하나로 대응

In [ ]:
# 키 자리에는 변경 가능한 자료가 오면 안됨

In [ ]:
lux = {'health' : 490, 'mana' : 334, 'melee' : 550, 'armor' : 18.72}
lux['health']

In [ ]:
lux = {'health' : 490, 'health' :800, 'mana' : 334, 'melee' : 550, 'armor' : 18.72}
lux['health']

# 중복된 값이 있으면 가장 마지막 값이 출력됨

In [ ]:
lux

In [ ]:
x = {100 : 'hundred', False : 0, 3.5 : [3.5, 3.5]}
x

> 키자리에 숫자 불리안 실수 가능, 값자리에 문자, 값, 리스트 가능, 키자리에 리스트와 딕셔너리만 못들어감

In [ ]:
# 키값으로 사용이 안되는 자료형1 (리스트)
x = {[10, 20] : 100}

> 리스트는 해슁이 안되는 타입이라는 뜻으로 오류가 남

In [ ]:
# 키값에 올수 있는 값이 나오는지 확인하는 방법

hash(100)

> 가능하면 값이 제대로 출력됨

In [ ]:
# 키값으로 사용이 안되는 자료형2(딕셔너리)
hash(lux)

> 딕셔너리 넣으니까 해싱 안됨

* 딕셔너리 만들기

In [ ]:
x = {}
y = dict()
print(type(x), type(y))

In [ ]:
# 1번째 옵션
lux1 = dict(health=490, mana=334)
# 키 값 형식으로 딕셔너리를 만듬

lux1

In [ ]:
# 2번째 옵션
lux2 = dict(zip(['melee', 'amor'], [550, 18.72]))
lux2

In [ ]:
# 참고

zip(['health', 'mana'], [490, 334])

In [ ]:
# 3번째 옵션
lux3 = dict([("health", 490), ("mana", 334)])
lux3

In [ ]:
lux['health']

In [ ]:
lux['health'] = 2037
lux['health']

In [ ]:
'health' in lux

In [ ]:
# in 또는 not in 사용 가능

In [ ]:
len(lux)

In [ ]:
keys = input().split()
values = map(float, input().split())
d = {}

zipped = zip(keys, values)
dict(zipped)

# 값 지정에서 빠진 부분이 있어 안나오는 거임 강의 다시 볼 것

* if 조건문으로 특정 조건일 때 코드 실행하기

> indentation(들여쓰기)가 중요함

*  elif 사용하여 여러방향으로 분기

In [ ]:
x = 5

if x != 10:
    print('OK')

문제 > 온라인 할인 쿠폰 시스템, 쿠폰가격에 따른 할인 가격 표시 시스템 만들기 (입력, 27000, cash 3000 / 출력 24000)

In [2]:
price = int(input())
coupon = input()

if coupon == 'cash3000':
    price -= 3000
    
elif coupon == 'cash5000':
    price -= 5000

else:
    pass

print(price)

30000
cash3000
27000

# ''(공란) 은 항상 False임

A 기업의 입사히험은 필기 시험 점수가 80점 이상이면서 코딩 시험을 통화해야 합격이라고 정했습니다(코딩 시험 통과 여부는 T, F로 구분). 다음 소스 코드를 완성하여, 합, 불 출력되게 만들것

written_test = 75
coding_test = True
1번 __________written_test_________coding_test________:
(줄바꿔서 들여쓰기)print('합격')
(줄바꾸기)else:
(줄바꿔서 들여쓰기)print('불합격')
    

정답 : if, >=80 and, == True

In [3]:
w = 75
c = True

if w >= 80 and c == True:
    print ('합격')

else:
    print ('불합격')

불합격